<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="pdb"/>

  <arg name="bags_base_path" default="/home/$(env USER)/bag_files/eagle/cisarak_20190221"/>
  <!-- <arg name="loc_bag" default="depth_dets_locs.bag"/> -->
  <!-- <arg name="loc_bag" default="dets_locs1.bag"/> -->
  <arg name="loc_bag" default="dets_locs2.bag"/>
  <!-- <arg name="gt_bag" default="target/_2019-02-21-09-56-01.bag"/> -->
  <arg name="gt_bag" default="target/_2019-02-21-10-02-53.bag"/>
  <!-- <arg name="skip_time" default="0"/> -->
  <!-- <arg name="delay_time" default="2"/> -->
  <!-- <arg name="rate_publish" default="1.0"/> -->
  <!-- <node name="rosbag_play" pkg="rosbag" type="play" args="$(arg bags_base_path)/$(arg bag_inputs) -/-clock -s $(arg skip_time) -d $(arg delay_time) -r $(arg rate_publish)" /> -->

  <arg name="localization_topic" default="/uav81/uav_localization/localized_uav"/>
  <!-- <arg name="localization_topic" default="/uav81/uav_localization/dbg_measurements_pcl"/> -->
  <arg name="ground_truth_topic" default="/uav3/odometry/odom_main"/>
  <!-- <node name="localization_evaluation" pkg="uav_localize" type="evaluator_det.py" output="screen" launch-prefix="$(arg launch_prefix)"> -->
  <node name="localization_evaluation" pkg="uav_localize" type="evaluator.py" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="localization_bag_name" value="$(arg bags_base_path)/$(arg loc_bag)" />
    <param name="ground_truth_bag_name" value="$(arg bags_base_path)/$(arg gt_bag)" />
    <param name="localization_topic_name" value="$(arg localization_topic)" />
    <param name="ground_truth_topic_name" value="$(arg ground_truth_topic)" />
    <param name="localization_out_fname2" value="$(find uav_localize)/output/dataset1/loc_out.csv" />
    <param name="ground_truth_out_fname2" value="$(find uav_localize)/output/dataset1/gt_out.csv" />
    <param name="localization_out_fname3" value="$(find uav_localize)/output/loc_out.csv" />
    <param name="ground_truth_out_fname3" value="$(find uav_localize)/output/gt_out.csv" />
    <param name="localization_out_fname" value="$(find uav_localize)/output/ours/loc_out.csv" />
    <param name="ground_truth_out_fname" value="$(find uav_localize)/output/ours/gt_out.csv" />
    <param name="distance_error_out_fname" value="$(find uav_localize)/output/dist_err_out.csv" />
    <param name="TP_probability_out_fname" value="$(find uav_localize)/output/TP_prob_out.csv" />
    <!-- <remap from="~localization" to="$(arg localization_topic)" /> -->
  </node>

  <!-- <group ns="$(arg uav_name)"> -->
  <!--   <node name="img_repub_depth" pkg="image_transport" type="republish" args="compressedDepth in:=/uav81/rs_d435/aligned_depth_to_color/image_raw raw out:=/uav81/rs_d435/aligned_depth_to_color/image_raw" /> -->
  <!--   <node name="img_repub_image" pkg="image_transport" type="republish" args="compressed in:=/uav81/rs_d435/color/image_raw raw out:=/uav81/rs_d435/color/image_rect_color" /> -->
  <!-- </group> -->

</launch>
